body {
    height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #ff5733, #33ff57, #3357ff);
  background-size: 300% 300%;
  animation: backgroundAnimation 6s infinite alternate;
  font-family: Arial, sans-serif;
  margin: 0;
}